
<mat-card>
    <mat-card-header>
        <mat-card-title>Controls</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <button *ngIf="!status.connected"  mat-raised-button class="icon-button" title="Connect to engraver" [disabled]="locked" (click)="connect()"><mat-icon>power</mat-icon></button>
        <button *ngIf="status.connected" mat-raised-button class="icon-button" [disabled]="locked" title="Disconnect from engraver" (click)="disconnect()"><mat-icon>power</mat-icon><mat-icon class="over">block</mat-icon></button>

        <button *ngIf="!status.fanOn"  mat-raised-button class="icon-button" title="Switch fan on" [disabled]="disabled" (click)="fan(true)"><mat-icon>toys</mat-icon></button>
        <button *ngIf="status.fanOn" mat-raised-button class="icon-button" title="Switch fan off" [disabled]="disabled" (click)="fan(false)"><mat-icon>toys</mat-icon><mat-icon class="over">block</mat-icon></button>


        <div style="width:360px;height:180px;padding: 8px;">
            <div>
                <mat-grid-list cols="6" rows="3" [gutterSize]="0" >
                    <!-- row 1 -->
                    <mat-grid-tile><button mat-raised-button class="icon-button" title="Move to origin" [disabled]="disabled" (click)="home()"><mat-icon>home</mat-icon></button></mat-grid-tile>
                    <mat-grid-tile><button mat-raised-button class="icon-button" [disabled]="disabled" title="Move y-axis -{{moveDistance}} mm" (click)="moveUp()"><mat-icon>expand_less</mat-icon></button></mat-grid-tile>
                    <mat-grid-tile></mat-grid-tile>
                    <mat-grid-tile class="b-left">
                        <mat-button-toggle-group multiple [(ngModel)]="xyCenter" (change)="frame()">
                            <mat-button-toggle [disabled]="disabled && xyCenterSaved!='y'" title="Preview y-axis" class="icon-button" [value]="'y'" ><mat-icon>settings_ethernet</mat-icon></mat-button-toggle>
                        </mat-button-toggle-group>
                    </mat-grid-tile>
                    <mat-grid-tile> 
                        <mat-button-toggle-group multiple [(ngModel)]="xyCenter" (change)="frame()">
                            <mat-button-toggle [disabled]="disabled  && xyCenterSaved!='x'" title="Preview x-axis" class="icon-button" [value]="'x'" ><mat-icon style="transform:rotate(90deg)">settings_ethernet</mat-icon></mat-button-toggle>
                        </mat-button-toggle-group>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-button-toggle-group multiple [(ngModel)]="xyCenter" (change)="frame()">
                            <mat-button-toggle [disabled]="disabled  && xyCenterSaved!=''" title="Preview frame" class="icon-button" [value]="''" ><mat-icon>crop_din</mat-icon></mat-button-toggle>
                        </mat-button-toggle-group>
                    </mat-grid-tile>
                        
                    <!-- row 2 -->
                    <mat-grid-tile><button mat-raised-button [disabled]="disabled" title="Move x-axis -{{moveDistance}} mm" class="icon-button" (click)="moveLeft()"><mat-icon>chevron_left</mat-icon></button></mat-grid-tile>
                    <mat-grid-tile>
                        <mat-form-field class="size-sm">
                            <input matInput  class="distance" type="number" min="0.1" max="10" step="0.1" title="Distance to move on click" [(ngModel)]="moveDistance" />                             
                            <mat-hint align="end">mm  </mat-hint>
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile><button mat-raised-button [disabled]="disabled" title="Move x-axis {{moveDistance}} mm" class="icon-button" (click)="moveRight()"><mat-icon>chevron_right</mat-icon></button></mat-grid-tile>
                    <mat-grid-tile colspan="2" class="b-left b-top">
                        <mat-form-field class="size-m">
                            <input matInput  class="distance" type="number" min="1" max="100" step="1" title="Laser power (1-100)" [(ngModel)]="power" />                             
                            <mat-hint align="start">Laser Power  </mat-hint>
                        </mat-form-field>                        
                    </mat-grid-tile>
                    <mat-grid-tile class="b-top"><button mat-raised-button [disabled]="disabled" class="icon-button" title="Start engraving"><mat-icon>flash_on</mat-icon></button></mat-grid-tile>

                    <!-- row 3 -->
                    <mat-grid-tile></mat-grid-tile>
                    <mat-grid-tile><button mat-raised-button [disabled]="disabled"  title="y-axis {{moveDistance}} mm" class="icon-button" (click)="moveDown()"><mat-icon>expand_more</mat-icon></button></mat-grid-tile>
                    <mat-grid-tile></mat-grid-tile>
                    <mat-grid-tile class="b-left" colspan="2">
                        <mat-form-field class="size-m">
                            <input matInput  class="distance" type="number" min="1" max="100" step="1" title="Engraving Depth (1-100)" [(ngModel)]="depth" />                             
                            <mat-hint align="start">Depth</mat-hint>
                        </mat-form-field>                        
                    </mat-grid-tile>
                    <mat-grid-tile></mat-grid-tile>
                </mat-grid-list>
            </div>
        </div>
        <div></div>
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-header >
        <mat-card-title>
            <div class="inline spacer">
                <mat-button-toggle-group [(ngModel)]="useCenter">
                    <mat-button-toggle class="icon-button" [value]="false" ><mat-icon style="transform: scale(-1,1)">open_in_new</mat-icon></mat-button-toggle>
                    <mat-button-toggle class="icon-button" [value]="true" ><mat-icon>filter_center_focus</mat-icon></mat-button-toggle>
                </mat-button-toggle-group>
            </div>
            <div class="inline">
                <mat-button-toggle-group [(ngModel)]="mode">
                    <mat-button-toggle class="icon-button" title="Image" value="image" (change)="imageSelected()"><mat-icon>image</mat-icon></mat-button-toggle>
                    <mat-button-toggle class="icon-button" title="Text" value="text" (change)="textSelected()"><mat-icon>title</mat-icon></mat-button-toggle>
                </mat-button-toggle-group>
            </div>
            <div class="spacer"></div>
            <div class="inline spacer">
                <button mat-raised-button class="icon-button" (click)="rotateClicked(1)"><mat-icon>rotate_left</mat-icon></button>
                <button mat-raised-button class="icon-button" (click)="rotateClicked(-1)"><mat-icon>rotate_right</mat-icon></button>
            </div>
            <div class="inline spacer">
                <button mat-raised-button class="icon-button" (click)="mirrorClicked(1)"><mat-icon>swap_vert</mat-icon></button>
                <button mat-raised-button class="icon-button" (click)="mirrorClicked(2)"><mat-icon>swap_horiz</mat-icon></button>
            </div>
            <div class="spacer"></div>

            <div  *ngIf="mode=='image'" class="upload inline">
                <image-upload [uploadURL]="'/image'" (completed)="updateImage()"></image-upload>
            </div>
            <div *ngIf="mode=='text'" class="inline">
                <mat-form-field class="nopadding" style="width:480px;">
                    <input matInput [(ngModel)]="text" (ngModelChange)="this.textUpdate.next($event)" />
                           <button mat-button *ngIf="text" matSuffix mat-icon-button aria-label="Clear" (click)="text=''"><mat-icon>close</mat-icon></button>
                </mat-form-field>
                <div class="spacer"></div>
                <mat-form-field class="nopadding" style="width:320px;">
                    <mat-select [(value)]="selectedFont" (selectionChange)="fontChanged($event)">
                        <mat-option *ngFor="let f of fonts" [value]="f.file">
                            {{f.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

    </mat-card-title>
</mat-card-header>


<mat-card-content>
    <div class="inline spacing">
        <size-input [label]="'max. Width'" [pxPerMm]="pxPerMm" [(value)]="width" (valueChange)="this.widthUpdate.next($event)"></size-input>
    </div>
    <div class="spacer"></div>
    <div class="inline spacing">
        <size-input [label]="'max. Height'" [pxPerMm]="pxPerMm" [(value)]="height" (valueChange)="this.heightUpdate.next($event)"> </size-input>
    </div>
    <div class="spacing">
        <image-display [center]="useCenter"></image-display>
    </div>
</mat-card-content>

</mat-card>

<mat-card>
    <mat-card-header>
        <mat-card-title>Messages</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div id="log" #scrolllog>
            <span *ngFor="let m of log ">{{m}}<br/></span>   
        </div>
    </mat-card-content>
</mat-card>
